@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
body {
    display: grid;
    grid-template-areas: 
    "header header"
    "article second"
    "footer footer";
    grid-template-rows: 70px 1fr 60px;
    grid-template-columns: 150px 1fr;
    grid-gap: 1px;
    height: 100vh;
    margin: 0;
    background: rgb(83, 79, 78);
    font-family: "Courier New", Courier, monospace;
    Font-size: 30px;
    text-transform: uppercase;
    text-align: LEFT;
    overflow: hidden;
}
header,footer,article, div {
    padding: 20px;
    transition: background 0.1s, color 0.1s, padding 0.1s;
}
.page_header {
    grid-area:header;
    background: #212327;
    color: #A0A2A5;
    padding: 0px;
    padding-left: 50px;
    white-space: pre;
    font-size: 11px;
}
.page_header:hover {
    background: #051637;
    color: #A0A2A5;
    padding: 0px;
    padding-left: 40px;
}
.page_footer {
    grid-area:footer;
    background: #212327;
    color: #A0A2A5;
    padding: 0px;
    text-align: center;
    
}
.page_footer:hover {
    background: #A0A2A5;
    color: #1E1E24;
}
.page_article {
    grid-area: article;
    background: #212327;
    color: #A0A2A5;
    padding: 5px;
}
.page_article:hover {
    background: #A0A2A5;
    color: #1E1E24; 
}
.page_div {
    grid-area: second;
    color: #A0A2A5;
    Font-size: 15px;
    text-align: justify;
    /* background-image: url(res/Acinit.jpg);
    background-repeat: no-repeat; */
    background-color: #212327;
    /* background-size: 500px;
    background-position: center; */
    white-space: pre;
}
button {
    display: flex;
    flex-direction: column;
    order: 1;
    width: 120px;
    padding: 10%;
    margin: 10px;
    /*  */
    background-color: #212327;
    color: #A0A2A5;
    border: 1px solid rgb(83, 79, 78);
    transition-duration: 0.1s;
    /*  */
    font-family: "Courier New", Courier, monospace;
    Font-size: 12px;
    text-transform: uppercase;
    text-align: center;
}
button:hover {
    background-color: #A0A2A5;
    color: #212327;
    border: 1px solid #212327;
    /* padding: 11%;   */
}
button:focus {
    outline:none;
    /* padding: 12%;  */
    background-color: #A0A2A5;
    color: #212327;
}
ul {
    padding:5px;
}
.footer-social-icons {
    width: 100px;
    display:block;
    margin: 0 auto;
}
.social-icon {
    color: inherit;
}
ul.social-icons {
    margin-top: 0px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
}
.social-icons a {
    color: inherit;
    text-decoration: none;
}

.fa-youtube-play {
    padding:10px 10px;
    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition: .1s;
    background-color: inherit;
    
}
.fa-youtube-play:hover {
    background-color: #e64a41;
    border-radius: 100px;
    color: #A0A2A5;
}
.fa-soundcloud {
    padding:10px 10px;
    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition: .1s;
    background-color: inherit;
}
.fa-soundcloud:hover {
    background-color: #f50;
    border-radius: 100px;
    color: #A0A2A5;
}
.fa-vk {
    padding:10px 9px;
    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition: .1s;
    background-color: inherit;
}
.fa-vk:hover {
    background-color: #375474;
    border-radius: 100px;
    color: #A0A2A5;
}